@CHARSET "UTF-8";

/* group-main */
.group-main-groupbox-groupname {
	font-size: 18px;
	font-weight: bold;
}

.group-main-history-font {
	color: #589cff;
	font-weight: bold;
}

.group-main-icon-fonts {
	font-size: 20px;
	color: #3059ff;
}

.group-info-member-ul {
	padding: 10px 15px;
	margin: 0px;
}

.group-info-member-list {
	display: inline;
}

.group-info-member-table {
	padding: 10px 15px;
}

.group-info-member-table table tbody tr th {
	width: 30px;
	padding-left: 0px;
}

.group-info-member-checkbox {
	width: 20px;
}

.group-info-member-img {
	width: 30px;
	height: 30px;
}

.group-info-member-img img {
	width: 100%;
}

.group-info-gorl-persent {
	font-size: 18px;
	font-weight: bold;
}